/*.AutoComplete_container{
	display: none;
    position: absolute;
    /*"left":left
    "top":top*
    max-height: 100px;
    overflow-y: scroll;
    width: 100px;
    background-color: whitesmoke;
    cursor: pointer;
}*/

.AutoComplete-container{
	display: none;
	position: absolute;
	max-height: 100px;
	overflow-y: scroll;
	background-color: whitesmoke;
	cursor: pointer;
}

.AutoComplete-container > div{

}

#myInput{
	float:left;
}

.infoBox{
	width: 400px;
  	height: 200px;
	overflow-y: auto;
  	background-color: lightgray;
	border-radius: 10px;
	padding: 5px;
  	margin-left: 30px;
  	display: inline-block;
	margin-left:20px;
}
