/*.AutoComplete_container{
	display: none;
    position: absolute;
    /*"left":left
    "top":top*
    max-height: 100px;
    overflow-y: scroll;
    width: 100px;
    background-color: whitesmoke;
    cursor: pointer;
}*/

.AutoComplete-container{
	display: none;
	position: absolute;
	max-height: 150px;
	overflow-y: auto;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	cursor: pointer;
}

.AutoComplete-container > div{
	padding: 0.1em 0.3em;
}

div.row{
	margin-bottom: 20px
}
input{
	float:left;
}

.infoBox{
	width: 400px;
  	height: 150px;
	overflow-y: auto;
  	background-color: lightgray;
	border-radius: 10px;
	padding: 5px;
  	margin-left: 30px;
  	display: inline-block;
	margin-left:20px;
}
